<div class='container px-5 px-sm-0'>
  <div class='row'>
    <div class='col-md-12 '>
      <div class="main-container">
      <h2>投稿一覧</h2>
      <%= render "index", books: @books %>
      <%= paginate @books %>
      </div>
    </div>
  </div>
</div>
