<div class='container'>
  <div class='row'>
    <div class='col-md-8'>
      <h2>ユーザー一覧</h2>
  　　<table class='table'>
        <thead>
          <tr>
            <th>画像</th>
            <th>ユーザー名</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
            <tr>
              <td><%#= image_tag user.get_profile_image, size: '50x50' %></td>
              <td><%= user.name %></td>
              <td><%#= render "relationships/btn", user: user %></td>
              <td><%#= link_to 'Show', user, class: "user_#{user.id}" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>